<nav aria-label="Navigation">
  <a href="{{ .Site.BaseURL }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="logo">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
      <div class="name">
        <strong>{{ .Site.Title }}</strong>
      </div>
    </div>
  </a>

  <div class="scrollable">
    <div class="wrapper">
      {{ if (isset .Site.Params "repo_url") }}
        <ul class="repo">
          {{ if (isset .Site.Params "version") }}
          <li class="repo-download">
            <a href="http://www.tddft.org/programs/APE/down.php?file={{ .Site.Params.version }}/ape-{{ .Site.Params.version }}.tar.gz" title="Download" data-action="download">
              <i class="icon icon-download"></i> Download
            </a>
          </li>
          {{ end }}
          <li class="repo-gitlab">
            <a href="{{ .Site.Params.repo_url }}" target="_blank" title="Gitlab">
              <i class="fa fa-gitlab"></i> Gitlab
            </a>
          </li>
        </ul>
        <hr>
      {{ end }}

      <div class="toc">

        {{ if gt (len .Site.Menus.main) 0 }}        
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}

        <hr>

        <span class="banner">Documentation</span>
        
        {{ if gt (len .Site.Menus.doc) 0 }}        
        <ul>
          {{ partial "nav_doc" . }}
        </ul>
        {{ end }}

        <hr>

        {{ if gt (len .Site.Menus.extra) 0 }}
        <span class="banner">Links</span>

        <ul>
          {{ partial "nav_extra" . }}
        </ul>
        {{ end }}
   
      </div>
    </div>
  </div>
</nav>
